.container {
  background: var(--blue);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 2.75rem;
}

.head {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-align: left;
  width: 10%;
  padding-left: 16px;
}
