.section {
    max-width: 71.563rem;
    margin: 3.75rem auto;
}

.content {
  background: var(--white);
  box-shadow: 0px 2px 4px 0px #2124290d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content button{
    margin-bottom: 3rem;
}

.title {
  font-size: 2.375rem;
  font-weight: 500;
  margin-bottom: 2.25rem;
}
